// <uniquifier>: Use a unique and descriptive class name

body {
  font-family: "Playwrite AU SA", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*.list {*/
/*    /* 添加!important表示覆盖默认的设置 */*/
/*    background-image: url("../../img/fish_2.jpg") !important;*/
/*}*/
